extends layout

block content
h1={title}
   - let Horse =[{Name:"Chutki",Cost:"1000",Weight:150lb},{Name:"Dimple",Cost:"1500",Weight:180lb},{Name:"Mickey",Cost:"2000",Weight:200lb}]
  div(class="container-fluid mt-3")
  div(class="row")
    each Horse,index in Horse 
        div(class="col-sm-2" onclick=`buy(${index})`) #{Horse.Name} - #{Horse.Cost} - #{Horse.Weight} 
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }